*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.items-container1{
    background-color: rgb(0 0 0 /76%);
    height: 100%;
}
.section1{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/a3ec2f55-e2e1-4d98-aa56-f834af40614b/BR-pt-20220801-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0px 5rem 0px 5rem;
    align-items: center;
    height: 105px;
    background: transparent;
}
.container-buttons{
    display: flex;
    column-gap: 1rem;
}
header .buttons{
    height: 39px;
    width: 93px;
    column-gap: 1rem;
}
header select{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 14px;
    width: 100px;
    text-align: center;
}
select option{
    background: gray;
}
header button{
    background: red;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}
header img:nth-child(1){
    width: 140px;
}
.container-principal{
    display: flex;
    height: 500px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    row-gap: 1rem;
}
.container-principal h1{
    font-size: 61px;
    text-align: center;
}
.container-principal p:nth-child(3){
    font-size: 38px;
    text-align: center;
}
.container-principal p:nth-child(4){
    font-size: 26px;
    text-align: center;
}

.container-inputs{
    width: 51%;
}
.container-inputs .email{
    width: 74%;
    height: 65px;
    font-size: 20px;
    padding-left: 16px;
}
.container-inputs input:nth-child(2){
    height: 66px;
    width: 25%;
    font-size: 27px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
.container-inputs input:nth-child(2):hover{
    background: rgb(253, 68, 68);
}
.section2{
    display: flex;
    background: black;
    height: 100vh;
    width: 100%;
    color: #fff;
    border-bottom: 8px solid #222;
}
.text-section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52%;
}
.text-section2 h1{
    font-size: 3.124rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}
.text-section2 p{
    font-size: 1.625rem;
    font-weight: 400;
}
.container-tv img:nth-child(1){
    position: absolute;
    z-index: 1;
}
.container-video{
    position: relative;
    top: 12%;
    left: 17%;
}
.section3{
    background: black;
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
}
.container--section--principal{
    display:flex;
    flex-direction: column;
}
.container-cellphone{
   display: flex;
   border: 2px solid #222;
   position: absolute;
   width: 359px;
   border-radius: 11px;
   align-items: center;
   background: black;
   column-gap: 30px;
   top: 252%;
   left: 9%;
   padding: 11px;
}
.banner-stranger-things img{
    width: 40px;
    border-radius: 10px;
}
.text--section3{
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
}
.text--section3 h1{
    font-size: 58px;
}
.text--section3 h3{
    font-size: 31px;
}
.gif-download{
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) 50% no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    width: 3em;
}
.section4{
    display: flex;
    align-items: baseline;
    background: black;
    height: 71vh;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    color: #fff;
}
.container--principal--section4 img{
    position: absolute;
    z-index: 2;
}
.container--video--section4{
    width: 87vh;
    display: flex;
    justify-content: center;
}
.container--video--section4 .Dustin-video{
    width: 362px;
    position: relative;
    top: 3rem;
    right: 1%;
}
.text--section4{
    flex: 0 1 auto;
    padding: 0 3rem 0 0;
    width: 84%;
}
.text--section4 h1 {
    font-size: 58px;
}
.text--section4 h2{
    font-size: 25px;
}
.section5{
    display: flex;
    background-color: #000;
    border-bottom: 8px solid #222;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
}
.text--section5{
    width: 29%;
}
.text--section5 h1{
    font-size: 56px;
}
.text--section5 p{
    font-size: 25px;
}

@media (max-width:1390px){
    .container-tv img:nth-child(1){
        width: 562px;
    }
    .container-video{ 
        top: 12%;
        left: 3%
    }
    .container--principal--section4 img {
        width: 560px; 
    }
}

@media (max-width: 1290px){
    .container-tv img:nth-child(1){
        width: 495px
    }
    .container--principal--section4 img{
        width: 549px
    }
}

@media (max-width:970px){
    .section2{
        display: flex;
        flex-direction: column;
        height: 84vh;
        flex-direction: column;
        align-items: center;
    }
    .text-section2{
        padding: 2rem 0 0 0;
        text-align: center;
        width: 90%;
    }
    .text-section2 h1{
        font-size: 2.124rem;
    }
    .text-section2 p{
        font-size: 23px;
    }
    .section4{
        display: flex;
        flex-direction: column;
        height: 84vh;
        align-items: center;
    }
    .text--section4{
        width: 74%;
        text-align: center;
        padding: 2rem 0 0 0;
    }
    .text--section4 h1{
        font-size: 37px;
    }
    .container--principal--section4{
        width: 100%;
    }
    .container--video--section4{
        width: 100%;
    }
    .container--video--section4 .Dustin-video{
        width: 332px;
        position: relative;
        top: 3rem;
        right: 18%;
    }
    .section3{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    }
    .text--section3{
        padding: 2rem 3rem 0 0;
        width: 89%;
        text-align: center;
    }
    .text--section3 h1{
        font-size: 42px
    }
    .container--section3--principal .Eleven-photo{
        width: 482px
    }
    .container-cellphone{
        top: 250%;
        left: 30%
    }

    .section5{
        display: flex;
        flex-direction: column-reverse;
    }
    .section5 img:nth-child(1){
        width: 481px
    }
    .text--section5{
        width: 86%;
        padding: 2rem 0 0 0;
        text-align: center;
    }
    .text--section5 h1{
        font-size: 40px
    }
    .text--section5 p{
        font-size: 22px
    }
}
@media (max-width:730px){
    .container--video--section4 .Dustin-video{
        width: 332px;
         position: relative;
        top: 3rem;
        right: 0;
         left: 6%;
    }
    .container-principal{
        row-gap: 0rem;
    }
    .container-principal h1{
        font-size: 42px;
    }
    .container-principal p:nth-child(3){
        font-size: 34px;
    }
    .container-principal p:nth-child(4){
        font-size: 22px;
    }
    .container-inputs{
        width: 84%;
        flex-direction: column;
        display: flex;
        align-items: center;
        row-gap: 1rem;
    }
    .container-inputs input:nth-child(1){
        height: 59px;
        width: 100%;
    }
    .container-inputs input:nth-child(2){
        height: 50px;
        width: 29%;

    }

}
@media (max-width:660px){
    .container-cellphone{
        top: 256%;
        left: 18%;
    }
    .container--video--section4{
        width: auto;
    }
}
